@model List<FavoriteViewModel>
@{
    ViewData["Title"] = "My Favorite Products";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any favorite products yet!</h2>
}
else
{
    <div class="row">
        @foreach (FavoriteViewModel product in Model)
        {
            <partial name="_ProductPartial" model="product" />
        }
    </div>
}